body {
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
    padding: 16px 0;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
 
.header-links {
    display: flex;
    gap: 20px;
}

.header-link-text {
    font-weight: 18px;
    color: #717780;
}

.awesome-web {
    display: flex;
    margin: 100px 250px;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-weight: 18px;
    color: #717780;
    margin-bottom: 10px;
}

.signup {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: #F9FAF8;
    font-weight: bold;
}


.img-placeholder {
    background-color: #717780;
    text-align: center;
    align-content: center;
    width: 500px;
    color: #F9FAF8;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.some-random {
    font-size: 36px;
    font-weight: bold;
    padding: 40px;
}

.cards {
    display: flex;
    gap: 50px;
    margin: 0 400px;
}

.each-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    color: #717780;
    text-align: center;
}

.illustruation {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 140px;
    height: 140px;
    margin-bottom: 5px;
}


.quote-info {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.quote {
    width: 830px;
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
    color: #1F2937;
}
.author {
    width: 740px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.call-to-action {
    padding: 100px;
}

.dialog-box {
    background-color: #3882F6;
    margin: 0 150px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.text {
    color: #E5E7EB;
}

.cta-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.signup-cta {
    border: 2px solid white;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px 30px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}